<h1>Welcome to Chat!</h1>
<br>

<!-- User message input -->
<div class="pull-left">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="messageContent"  (keydown.enter)="sendMessage()" placeholder="Enter message">
      <button type="submit" class="btn btn-primary btn-small" (click)="sendMessage()">Send</button>
    </div>
</div>
<br>
<div *ngFor="let message of messageLog">
    <div class="card">
      <div class="card bg-light ">
        <div class="card-body">
          <b>Anonymous:</b> {{ message }}
        </div>
      </div>
    </div>
    <br>
</div>
