<h1>Edit Profile</h1>

<div class="card" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">About:</h5>
        <form>
            <div class="form-group">
              <label for="formGroupExampleInput">Name</label>
              <input name="usernameUser" [(ngModel)]="usernameUser" class="form-control" placeholder="{{usernameUser}}" type="text">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Email</label>
              <input name="emailUser" [(ngModel)]="emailUser" class="form-control" placeholder="{{emailUser}}" type="text">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Age</label>
              <input name="ageUser" [(ngModel)]="ageUser" class="form-control" placeholder="{{ageUser}}" type="text">
          </div>
          <div class="form-group">
              <label for="formGroupExampleInput">Age</label>
              <input name="birthdateUser" [(ngModel)]="birthdateUser" class="form-control" placeholder="{{birthdateUser}}" type="text">
          </div>
        </form>
      <button type="button" class="btn btn-light" (click)="CancelProfile()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="SaveProfile()">Save</button>
    </div>
</div>
